@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,600');
@import url('https://fonts.googleapis.com/css?family=Chivo');
* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 16px; /*1em=16px*/
}

header {
	font-family: 'Chivo', sans-serif;
	background-color: black;
	padding: 20px;
	text-transform: uppercase;
}

header p {
	color: white;
}

a {
	text-decoration: none;
}

nav a {
	color: #18B8A6;
	margin-left: 20px;
	float: right;
}

main {
	font-family: 'Chivo', sans-serif;
	font-variant: small-caps;
	text-align: center;
	padding-top: 2em;
	background-color: #fcfeff;
}

h1 {
	font-size: 3.5em;
}

h2 {
	font-size: 3em;
}

main h3 {
	font-family: 'Cormorant Garamond', serif;
	font-variant: normal;
	font-size: 2em;
	width: 30em;
	margin-top: 1em;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 2em;
}

.background_image {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	border: 2px solid black;
}

.my_story {
	background-color: #cfffee;
	color: black;
	padding-top: 2em;
	padding-bottom: 2em;
}

.story_parts {
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.1em;
	width: 30em;
	line-height: 1.5em;
}

h4 {
	font-family: 'Chivo', sans-serif;
	text-align: center;
	margin-bottom: 20px;
	font-size: 1.5em;
}

h5 {
	font-family: 'Chivo', sans-serif;
	margin-top: 20px;
	font-size: 1.3em;
}

.profile_pic {
	border-radius: 8px;
	padding: 1px;
	border: 2px solid #021a40;
	background-color: #18B8A6;
}

.icons {
	border-radius: 8px;
}

.quote {
	font-family: 'Cormorant Garamond', serif;
	padding-top: 5em;
	padding-bottom: 5em;
	font-size: 2em;
	text-align: center;
	line-height: 1.75em;
	background-color: #fcfeff;
}

.social_media {
	background-color: #18B8A6;
	padding: 20px;
}

footer {
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.3em;
	background-color: black;
	color: white;
	padding: 20px;
	text-align: center;
	line-height: 60px;
}

footer a {
	color: white;
}