body {
    font-family: Verdana, Helvetica;
    background-image: url("main_background.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 10%;
    background-size: 70% 50%;
}

h1 {
	font-variant: small-caps;
	text-align: center;
	margin-top: 290px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	width: 370px;
	background-color: white;
	line-height: 150%;
	font-size: 50px;
}


p {
	text-align: center;
	margin-bottom: 20px;
	font-size: 30px;
}

hr {
	width: 500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    text-transform: uppercase;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #18B8A6;
}

.logo-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 3%;
    height: 3%;
}
div {
	text-align: center;
	padding: 5px;
	color: white;
	font-weight: lighter;
	margin-top: 20px;
}

h4 {
	font-weight: lighter;
}

h4 a {
	color: white;
	text-decoration: none;
}
